.app-container {
  overflow: hidden;
  height: 100%;
}

.toggle-button {
  background: #6366f1;
}

.view-container {
  display: flex;
  height: 100%;
}

.form-container {
  width: 100%;
}

.no-workflow-data {
  padding: 24px;
  text-align: center;
}

.back-button {
  margin-top: 16px;
  padding: 8px 16px;
}